* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Css Thanh menu */
header {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid #f0f0f0;
}

/* Kiểu dáng Logo */
.logo h1 {
  font-weight: 300;
  letter-spacing: 8px;
  font-size: 50px;
  color: #181b5e;
  margin-bottom: 30px;
}

/* Cấu trúc Menu ngang */
.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 40px;
}

/* Kiểu chữ cho Menu */
.main-nav ul li a {
  text-decoration: none;
  color: #999;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: 0.3s;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
  color: #000;
}
/* Nội dung */

.gen1 {
  display: flex;
  font-size: 18px;
  text-align: center;
  padding: 70px;
}

.tablegen1 {
  font-size: 28px;
}
